*.gch
*.o
*.so
pmt
pmt-*
.vscode/settings.json
build/main
build/main2
build/main-ut*
build/sotest

tests/testpr
tests/sotest
tests/no-uts
tests/pchtest
tests/testpr-ut1
tests/testpr-ut2
tests/__pycache__

testproject/main

rpmbuild/